<!-- Header-->
<header class="header header-transparent">
    <div class="container-fluid">
        <!-- Brand-->
        <div class="inner-header">
            <a class="inner-brand" routerLink="/index">
                <img src="assets/images/index/LogoHeader.png" /> 
            </a>
        </div>
        <!-- Navigation-->
        <div class="inner-navigation collapse">
            <div class="inner-nav">
                <ul>
                    <li><a routerLink="/index"><span class="menu-item-span">Anasayfa</span></a></li>
                    <li class="menu-item-has-children"><a><span class="menu-item-span">Kurumsal</span></a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children"><a>Hakkımızda</a>
                                <ul class="sub-menu">
                                    <li><a href="Kurumsal/Hakkımızda/SirketProfili.html">Şirket Profili</a></li>
                                    <li><a href="Kurumsal/Hakkımızda/Strateji.html">Strateji</a></li>
                                    <li><a href="Kurumsal/Hakkımızda/VizyonMisyonDegerlerAmaclarveKalite.html">Vizyon,
                                            Misyon, Değerler, Amaçlar ve Kalite</a></li>
                                    <li><a href="Kurumsal/Hakkımızda/TumerEtikIlkeler.html">Tümer Etik İlkeler</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a>POLiTiKALAR</a>
                                <ul class="sub-menu">
                                    <li><a href="Kurumsal/Politikalar/BilgiGüvenliği.html">Bilgi Güvenliği, BT
                                            Hizmet Yönetimi, İş Sürekliliği</a></li>
                                    <li><a href="Kurumsal/Politikalar/KaliteYonetimi.html">Kalite Yönetimi</a></li>
                                    <li><a href="Kurumsal/Politikalar/CevreIsSagligiGuvenligi.html">Çevre, İş
                                            Sağlığı ve Güvenliği</a></li>
                                    <li><a href="Kurumsal/Politikalar/EntegreYonetimSistemi.html">Entegre Yönetim
                                            Sistemi</a>
                                    </li>
                                    <li><a href="Kurumsal/Politikalar/KisiselVerilerinKorunmasi.html">Kişisel
                                            Verilerin Korunması</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a>Kurumsal Kimlik</a>
                                <ul class="sub-menu">
                                    <li><a href="Kurumsal/KurumsalKimlik/KurumsalDegerler.html">Kurumsal Değerler
                                        </a></li>
                                    <li><a href="Kurumsal/KurumsalKimlik/OrganizasyonYapisi.html">Organizasyon
                                            Yapısı</a>
                                    </li>
                                    <li><a href="Kurumsal/KurumsalKimlik/Dokumanlar.html">Dokümanlar</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="Kurumsal/TumerGrup.html">Tümer Grup</a>
                                <ul class="sub-menu">
                                    <li><a target="_blank">Tümer Mühendislik</a>
                                    </li>
                                    <li><a href="https://www.doruksavunma.com" target="_blank">Doruk Savunma</a>
                                    </li>
                                    <li><a target="_blank">Sport Expert</a></li>
                                    <li><a href="https://www.skyreks.com" target="_blank">Skyreks</a></li>
                                    <li><a href="https://www.peak-defense.com" target="_blank">Peak Defense</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="YeteneklerimizCozumlerimiz.html">
                            <span class="menu-item-span">Yeteneklerimiz & Çözümlerimiz</span>
                        </a>
                        <ul class="sub-menu">
                            <li class="menu-item-has-children">
                                <a href="YeteneklerimizÇözümlerimiz/SavunmaSanayi.html">
                                    <span class="menu-item-span">Savunma Sanayi</span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/SimulatorSistemleri.html">Simülatör
                                            Sistemleri</a></li>
                                    <li><a
                                            href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/InsansizDeniz,KaraVeHavaAraclari-AkilliSistemler.html">İnsansız
                                            Deniz, Kara ve Hava Araçları (Akıllı Sistemler)</a></li>
                                    <li><a href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/SistemEntegrasyonu.html">Sistem
                                            Entegrasyonu</a></li>
                                    <li><a href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/TestSistemleri.html">Test
                                            Sistemleri</a></li>
                                    <li><a href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/C4ISRSistemleri.html">C4ISR
                                            Sistemleri</a></li>
                                </ul>
                            </li>
                            <li><a href="YeteneklerimizÇözümlerimiz/ElektronikTasarim.html">Elektronik Tasarım</a>
                            </li>
                            <li><a href="YeteneklerimizÇözümlerimiz/Yazilim.html">Yazılım</a></li>
                            <li><a href="YeteneklerimizÇözümlerimiz/MekanikTasarim.html">Mekanik Tasarım</a></li>
                            <li><a href="YeteneklerimizÇözümlerimiz/AviyonikTestSistemleri.html">Aviyonik Test
                                    Sistemleri</a></li>
                            <li><a href="YeteneklerimizÇözümlerimiz/MekatronikTasarim.html">Mekatronik Tasarım</a>
                            </li>
                            <li><a href="YeteneklerimizÇözümlerimiz/SporMuhendisligi.html">Spor Mühendisliği</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="YeteneklerimizÇözümlerimiz/HavacilikKomponentleriOnarimVeTedarik.html">
                                    <span class="menu-item-span">Havacılık Komponentleri Onarım ve Tedarik</span>
                                </a>
                                <ul class="sub-menu">
                                    <li><a
                                            href="YeteneklerimizÇözümlerimiz/HavacilikKomponentleriOnarimVeTedarik/YedekParceTedariki.html">Yedek
                                            Parça Tedariki</a></li>
                                    <li><a
                                            href="YeteneklerimizÇözümlerimiz/HavacilikKomponentleriOnarimVeTedarik/SarfMalzemeleriTedariki.html">Sarf
                                            Malzemeleri Tedariki</a></li>
                                    <li><a
                                            href="YeteneklerimizÇözümlerimiz/HavacilikKomponentleriOnarimVeTedarik/KomponentOnarimi.html">Komponent
                                            Onarımı</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a><span class="menu-item-span">Tümer'de Kariyer</span></a>
                        <ul class="sub-menu">
                            <li><a href="TumerdeKariyer/TumerliOlmak.html">Tümerli Olmak</a></li>
                            <li class="menu-item-has-children"><a>İK Süreçlerimiz </a>
                                <ul class="sub-menu">
                                    <li><a href="TumerdeKariyer/IKSureclerimiz/PerformansYonetimi.html">Performans
                                            Yönetimi</a></li>
                                    <li><a href="TumerdeKariyer/IKSureclerimiz/SunulanOlanaklar.html">Sunulan
                                            Olanaklar</a></li>
                                    <li><a href="TumerdeKariyer/IKSureclerimiz/AcikPozisyonlar.html">Açık
                                            Pozisyonlar</a></li>
                                    <li><a href="TumerdeKariyer/IKSureclerimiz/Staj.html">Staj</a></li>
                                </ul>
                            </li>
                            <li><a href="TumerdeKariyer/HemenBasvur.html">Hemen Başvur</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/iletisim"><span class="menu-item-span">İletişim</span></a></li>
                </ul>
            </div>
        </div>
        <div class="extra-nav">
            <ul>
                <li><a class="top-bar-cart" href="en/index.html"><span class="menu-item-span">EN</span></a></li>
                    <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i
                                    class="ti-menu"></i></span></a></li>
                    <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span
                                class="menu-item-span"><i class="ti-menu"></i></span></a></li>
            </ul>
        </div>
    </div>
</header>
<!-- Header end-->