<!-- Footer-->
<footer class="footer">
    <div class="footer-widgets">
        <div class="container-center">
            <div class="row">
                <div class="col-md-4">
                    <!-- Text widget-->
                    <aside class="widget widget-text">
                        <div class="widget-title"><a href="index.html"><img
                                    src="assets/images/index/r700x180b.png"></a>
                        </div>
                        <div class="textwidget">

                            <!-- DiKEY BOŞLUK-->
                            <div class="space" data-MY="65px"></div>
                            <!-- Dikey boşluk son-->

                            <ul class="social-icons">
                                <li><a href="https://twitter.com/Tumer_Muh" target="_blank"><i
                                            class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/tumer_muh" target="_blank"><i
                                            class="fab fa-instagram"></i></a>
                                </li>
                                <li><a href="https://www.facebook.com/TumerMuhendislik" target="_blank"><i
                                            class="fab fa-facebook-f "></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/channel/UCW_ODI0ATDrsuaeTkpOkGng"
                                        target="_blank"><i class="fab fa-youtube "></i></a>
                                </li>
                                <li><a href="https://www.linkedin.com/company/t%C3%BCmer-m%C3%BChendislik"
                                        target="_blank"><i class="fab fa-linkedin-in "></i></a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <aside class="widget widget-recent-entries">
                        <div class="widget-title">
                            <h6>İletişim</h6>
                        </div>
                        <ul>
                            <li><a><i class="fas fa-phone-volume"></i></a>TELEFON<br> (+90) 312 210 10 44</li>
                            <li><a><i class="fas fa-fax"></i></a>FAX<br> (+90) 312 210 10 41 </li>
                            <li><a><i class="far fa-clock"></i></a>ÇALIŞMA SAATLERi<br>09:00-18:00</li>
                            <li><a href="mailto:info@tumer.com"><i class="far fa-envelope"></i></a><a
                                    href="mailto:info@tumer.com">e-mail<br> info@tumer.com</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-2">
                    <aside class="widget widget-recent-entries">
                        <div class="widget-title">
                            <h6>ADRES</h6>
                        </div>
                        <ul>
                            <li>
                                <p>Hacettepe Teknokent <br>5. ARGE No:8B/15
                                    Üniversiteler Mah.<br>Çankaya/ANKARA</p>
                            </li>
                        </ul><br>
                        <div class="widget-title">
                            <h6>KONUM</h6>
                        </div>
                        <ul>
                            <a href="Iletisim.html#harita"><img src="../../assets/images/harita.png"></a>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-2">
                    <aside class="widget widget-recent-entries">
                        <div class="widget-title">
                            <h6>BELGELER</h6>
                        </div>
                        <ul>
                            <li><a href="Kurumsal/Politikalar/KisiselVerilerinKorunmasi.html">KVKK Metni</a>
                            </li>
                            <li><a href="BilgiToplumuHizmetleri.html">Bilgi Toplumu Hizmetleri</a></li>
                            <li><a href="GizlilikBildirimi.html">Gizlilik Bildirimi</a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p> © 2021 | TÜMER MÜHENDiSLiK <br>İthalat ihracat Sanayi ve Ticaret Limited Şirketi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end-->