<body>
    <div class="wrapper">
        <!-- Page Header-->
        <section class="module parallax module-page-title bg-gray"
        style="background-image: url('../../assets/images/Iletisim/iletisim.png');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-title-desc">
                            <h1 class="page-title-heading">Yeteneklerimiz & Çözümlerimiz</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Header end-->
    </div>
</body>
