<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header"><a class="off-canvas-close" href="#"><span class="ti-close"></span></a></div>
        <div class="off-canvas-content">
            <aside class="widget widget-text">
                <div class="textwidget">
                    <p class="text-center"><img src="assets/images/index/r700x180b.png" width="250px"></p>
                    <p class="text-center">Site Haritası</p>
                </div>
            </aside>
            <aside class="widget widget-recent-works">
                <div class="accordion accordion-light" id="accordionIndex">
                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                    href="#collapse-1">Kurumsal</a>
                            </h6>
                        </div>
                        <div class="collapse" id="collapse-1" data-parent="#accordionIndex">
                            <div class="accordion-item-body">
                                <ul>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                                    href="#collapse-1-1">Hakkımızda</a></h6>
                                        </div>
                                        <div class="collapse" id="collapse-1-1">
                                            <div class="accordion-item-body">
                                                <ul>
                                                    <li><a href="Kurumsal/Hakkımızda/SirketProfili.html">Şirket
                                                            Profili</a></li>
                                                    <li><a href="Kurumsal/Hakkımızda/Strateji.html">Strateji</a>
                                                    </li>
                                                    <li><a
                                                            href="Kurumsal/Hakkımızda/VizyonMisyonDegerlerAmaclarveKalite.html">Vizyon,
                                                            Misyon, Değerler, Amaçlar ve Kalite</a></li>
                                                    <li><a href="Kurumsal/Hakkımızda/TumerEtikIlkeler.html">Tümer
                                                            Etik
                                                            İlkeler</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                                    href="#collapse-1-2">Politikalar</a></h6>
                                        </div>
                                        <div class="collapse" id="collapse-1-2">
                                            <div class="accordion-item-body">
                                                <ul>
                                                    <li><a href="Kurumsal/Politikalar/BilgiGüvenliği.html">Bilgi
                                                            Güvenliği, BT
                                                            Hizmet Yönetimi, İş Sürekliliği</a></li>
                                                    <li><a href="Kurumsal/Politikalar/KaliteYonetimi.html">Kalite
                                                            Yönetimi</a>
                                                    </li>
                                                    <li><a href="Kurumsal/Politikalar/CevreIsSagligiGuvenligi.html">Çevre,
                                                            İş
                                                            sağlığı ve Güvenliği</a></li>
                                                    <li><a href="Kurumsal/Politikalar/EntegreYonetimSistemi.html">Entegre
                                                            Yönetim
                                                            Sistemi</a></li>
                                                    <li><a
                                                            href="Kurumsal/Politikalar/KisiselVerilerinKorunmasi.html">Kişisel
                                                            Verilerin Korunması</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                                    href="#collapse-1-3">Kurumsal Kimlik</a></h6>
                                        </div>
                                        <div class="collapse" id="collapse-1-3">
                                            <div class="accordion-item-body">
                                                <ul>
                                                    <li><a href="Kurumsal/KurumsalKimlik/KurumsalDegerler.html">Kurumsal
                                                            Değerler</a></li>
                                                    <li><a href="Kurumsal/KurumsalKimlik/OrganizasyonYapisi.html">Organizayon
                                                            Yapısı</a></li>
                                                    <li><a
                                                            href="Kurumsal/KurumsalKimlik/Dokumanlar.html">Dokümanlar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                                    href="#collapse-1-4">Tümer Grup</a></h6>
                                        </div>
                                        <div class="collapse" id="collapse-1-4">
                                            <div class="accordion-item-body">
                                                <ul>
                                                    <li><a>Tümer Mühendislik</a></li>
                                                    <li><a href="https://www.doruksavunma.com">Doruk Savunma</a>
                                                    </li>
                                                    <li><a>Sport Expert</a></li>
                                                    <li><a href="https://www.skyreks.com">Skyreks</a></li>
                                                    <li><a href="https://www.peak-defense.com">Peak Defense</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                    href="#collapse-2">Yeteneklerimiz & Çözümlerimiz</a>
                            </h6>
                        </div>
                        <div class="collapse" id="collapse-2" data-parent="#accordionIndex">
                            <div class="accordion-item-body">
                                <ul>
                                    <!------------------------------------------------------------------------------->
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                                    href="#collapse-2-1">Savunma Sanayi</a></h6>
                                        </div>
                                        <div class="collapse" id="collapse-2-1">
                                            <div class="accordion-item-body">
                                                <ul>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/SimulatorSistemleri.html">Simülatör
                                                            Sistemleri</a></li>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/InsansizDeniz,KaraVeHavaAraclari-AkilliSistemler.html">İnsansız
                                                            Deniz, Kara ve Hava Araçları (Akıllı Sistemler)</a></li>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/SistemEntegrasyonu.html">Sistem
                                                            Entegrasyonu</a></li>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/TestSistemleri.html">Test
                                                            Sistemleri</a></li>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/SavunmaSanayi/C4ISRSistemleri.html">C4ISR
                                                            Sistemleri</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!------------------------------------------------------------------------------->
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-2-2">
                                                    <a href="YeteneklerimizÇözümlerimiz/ElektronikTasarim.html">Elektronik
                                                        Tasarım</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                    <!------------------------------------------------------------------------------->
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-2-3">
                                                    <a href="#">Yazılım</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-2-4">
                                                    <a href="YeteneklerimizÇözümlerimiz/MekanikTasarim.html">Mekanik
                                                        Tasarım</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                    <!------------------------------------------------------------------------------->
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-2-5">
                                                    <a
                                                        href="YeteneklerimizÇözümlerimiz/AviyonikTestSistemleri.html">Aviyonik
                                                        Test Sistemleri</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-2-6">
                                                    <a href="YeteneklerimizÇözümlerimiz/MekatronikTasarim.html">Mekatronik
                                                        Tasarım</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                    <!------------------------------------------------------------------------------->
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-2-7">
                                                    <a href="YeteneklerimizÇözümlerimiz/SporMuhendisligi.html">Spor
                                                        Mühendisliği</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                    <!------------------------------------------------------------------------------->
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                                    href="#collapse-2-8">Havacılık Komponentleri Onarım ve
                                                    Tedarik</a></h6>
                                        </div>
                                        <div class="collapse" id="collapse-2-8">
                                            <div class="accordion-item-body">
                                                <ul>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/HavacilikKomponentleriOnarimVeTedarik/YedekParceTedariki.html">Yedek
                                                            Parça Tedariki</a></li>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/HavacilikKomponentleriOnarimVeTedarik/SarfMalzemeleriTedariki.html">Sarf
                                                            Malzemeleri Tedariki</a>
                                                    </li>
                                                    <li><a
                                                            href="YeteneklerimizÇözümlerimiz/HavacilikKomponentleriOnarimVeTedarik/KomponentOnarimi.html">Komponent
                                                            Onarımı</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                    href="#collapse-3">Tümer'de
                                    Kariyer</a>
                            </h6>
                        </div>
                        <div class="collapse" id="collapse-3" data-parent="#accordionIndex">
                            <div class="accordion-item-body">
                                <ul>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-3-1"><a
                                                        href="TumerdeKariyer/TumerliOlmak.html">Tümer'li
                                                        Olmak</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link collapsed" data-toggle="collapse"
                                                    href="#collapse-3-2">İK
                                                    Süreçlerimiz</a></h6>
                                        </div>
                                        <div class="collapse" id="collapse-3-2">
                                            <div class="accordion-item-body">
                                                <ul>
                                                    <li><a
                                                            href="TumerdeKariyer/IKSureclerimiz/PerformansYonetimi.html">Performans
                                                            Yönetimi</a></li>
                                                    <li><a
                                                            href="TumerdeKariyer/IKSureclerimiz/SunulanOlanaklar.html">Sunulan
                                                            Olanaklar</a></li>
                                                    <li><a
                                                            href="TumerdeKariyer/IKSureclerimiz/AcikPozisyonlar.html">Açık
                                                            Pozisyonlar</a></li>
                                                    <li><a href="TumerdeKariyer/IKSureclerimiz/Staj.html">Staj</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-item-header">
                                            <h6><a class="accordion-link" data-toggle="collapse"
                                                    href="#collapse-3-3"><a
                                                        href="TumerdeKariyer/HemenBasvur.html">Hemen Başvur</a></a>
                                            </h6>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-item-header">
                            <h6><a class="accordion-link" data-toggle="collapse" href="#collapse-4"><a
                                        href="Iletisim.html">İletişim</a></a>
                            </h6>
                        </div>
                    </div>
                </div>
            </aside>
            <ul class="social-icons text-center">
                <li><a href="https://twitter.com/Tumer_Muh" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/tumer_muh" target="_blank"><i
                            class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/TumerMuhendislik" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                </li>
                <li><a href="https://www.youtube.com/channel/UCW_ODI0ATDrsuaeTkpOkGng" target="_blank"><i
                            class="fab fa-youtube"></i></a></li>
                <li><a href="https://www.linkedin.com/company/t%C3%BCmer-m%C3%BChendislik" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- Off canvas end-->